# Ноутбук для решения задач урока 2.2 - Pandas забудь про циклы!

In [ ]:
import pandas as pd

Стэпы 4 и 7

In [ ]:
# для тестирования шагов 4,7
path = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/driver_info.csv'
driver_info = pd.read_csv(path)

In [ ]:
# YOUR CODE HERE

Стэпы 6 и 13

In [ ]:
# Для тестирования шагов 6, 13
headers = ['user_id','car_id','ride_id','ride_date','rating','ride_duration','ride_cost','speed_avg','speed_max','stop_times','distance','refueling','user_ride_quality','deviation_normal']
data1 = [['q53527020Q','g55775125g','i1O','2020-01-16',3.42,33,324,75,100.29813514676134,0,2412.859858364817,0,-3.828165817447904,-12.577],
['X72952203K','Y-6420899e','Z1i','2020-01-19',4.0,65,839,51,78.0,0,2553.2839709438263,0,-0.1661988045307138,-5.85],
['g40994147T','z77468044J','x1M','2020-01-21',6.18,46,363,47,73.0,2,207.99309441034063,0,-6.904072336062649,0.0],
['E18650750E','W50413234I','W1Y','2020-03-17',1.43,80,955,34,116.0,2,1758.4787326019953,0,3.132158298525006,18.966]]

data2 = [['D18083254C','e-4559210H','U1f','2020-03-21',3.45,142292,2276667,52,64.0,1,7541414.254671801,0,-29.248641469679256,-8.126],
['G12536963g','B61056692H','f1p','2020-02-26',5.73,49,681,36,65.0,1,1633.554568012732,0,5.566720367721429,0.0],
['j17924049w','g10190493K','e1F','2020-03-15',3.8,33,426,56,121.02952155423937,0,1854.4339064466585,0,-21.87409354475036,-19.996],
['Z21861082q','U-8316679F','s1l','2020-02-22',2.88,23,685,53,58.0,0,1290.3012366594276,0,1.181858481684772,-0.799],
['w32247420J','I-2277714Y','t1N','2020-02-08',0.1,168,8397,66,116.0,2,5049.357084205007,0,-7.047227923552489,16.841]]

df1 = pd.DataFrame(data1, columns = headers)
df2 = pd.DataFrame(data2, columns = headers)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126
1,G12536963g,B61056692H,f1p,2020-02-26,5.73,49,681,36,65.000000,1,1.633555e+03,0,5.566720,0.000
2,j17924049w,g10190493K,e1F,2020-03-15,3.80,33,426,56,121.029522,0,1.854434e+03,0,-21.874094,-19.996
3,Z21861082q,U-8316679F,s1l,2020-02-22,2.88,23,685,53,58.000000,0,1.290301e+03,0,1.181858,-0.799
4,w32247420J,I-2277714Y,t1N,2020-02-08,0.10,168,8397,66,116.000000,2,5.049357e+03,0,-7.047228,16.841

In [ ]:
# добавьте данные для тестов
car_blacklist = []
user_white_list = []
cols2drop = []

In [ ]:
# YOUR CODE HERE

Стэпы 8 и 14

In [ ]:
# Для тестирования шагов 8, 14
headers = ['age','user_rating','user_rides','user_time_accident','user_id','sex','first_ride_date']
data = [[24,7.4,630,0.0,'k10444942s',1,2020-7-25],
[38,8.1,1035,2.0,'h19096602M',0,2019-2-16],
[26,8.2,617,7.0,'Q15734607H',1,2020-7-22],
[44,8.8,697,7.0,'l15409162f',0,2019-5-14],
[30,8.4,335,43.0,'A17982529a',1,2019-8-18]]

df = pd.DataFrame(data, columns = headers)

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,24,7.4,630,0.0,k10444942s,1,1988
1,38,8.1,1035,2.0,h19096602M,0,2001
2,26,8.2,617,7.0,Q15734607H,1,1991
3,44,8.8,697,7.0,l15409162f,0,2000
4,30,8.4,335,43.0,A17982529a,1,1993

In [ ]:
# YOUR CODE HERE

Стэп 10

In [ ]:
# Для тестирования шага 10
path = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/fix_info.csv'
df = pd.read_csv(path)

In [ ]:
# YOUR CODE HERE

Стэп 11

In [ ]:
# Для тестирования шага 11
headers = ['car_id','model','car_type','fuel_type','car_rating','year_to_start','riders','year_to_work','target_reg','target_class']
data = [['y13744087j','Kia Rio X-line','economy','petrol',3.78,2015,76163,2021,108.53,'another_bug'],
['O41613818T','VW Polo VI','economy','petrol',3.9,2015,78218,2021,35.2,'electro_bug'],
['d-2109686j','Renault Sandero','standart','petrol',6.3,2012,23340,2017,38.62,'gear_stick'],
['u29695600e','Mercedes-Benz GLC','business','petrol',4.04,2011,1263,2020,30.34,'engine_fuel'],
['N-8915870N','Renault Sandero','standart','petrol',4.7,2012,26428,2017,30.45,'engine_fuel']]

df = pd.DataFrame(data, columns = headers)

# добавьте сами нужные значения
sort_by_list = []
columns_order_list = []
cols2drop = []
critical_car_rating = 4

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug
2,d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,38.62,gear_stick
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,30.34,engine_fuel
4,N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,30.45,engine_fuel

In [ ]:
# YOUR CODE HERE

Стэп 12

In [ ]:
# Для тестирования шага 12

headers = ['car_id','model','car_type','fuel_type','car_rating','year_to_start','riders','year_to_work','target_1','target_2']

data = [['e-1431476C','Renault Kaptur','standart','petrol',4.84,2014,3856,2017,2,'gear_stick'],
['L-6578341x','Renault Sandero','standart','petrol',4.84,2011,54093,2018,0,'engine_check'],
['i11115813c','Skoda Rapid','economy','petrol',4.16,2015,16214,2017,0,'electro_bug'],
['w-1250035f','Kia Rio X-line','economy','petrol',5.3,2015,16948,2017,1,'wheel_shake'],
['E-3430793T','Smart Coupe','economy','petrol',4.54,2015,20430,2014,1,'break_bug'],
['g13538879M','Nissan Qashqai','standart','petrol',4.28,2015,19517,2020,0,'break_bug'],
['g10190493K','Kia Sportage','standart','petrol',3.34,2014,2018,2017,0,'engine_fuel']]

df = pd.DataFrame(data, columns = headers)

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_1,target_2
0,e-1431476C,Renault Kaptur,standart,petrol,4.84,2014,3856,2017,2,gear_stick
1,L-6578341x,Renault Sandero,standart,petrol,4.84,2011,54093,2018,0,engine_check
2,i11115813c,Skoda Rapid,economy,petrol,4.16,2015,16214,2017,0,electro_bug
3,w-1250035f,Kia Rio X-line,economy,petrol,5.30,2015,16948,2017,1,wheel_shake
4,E-3430793T,Smart Coupe,economy,petrol,4.54,2015,20430,2014,1,break_bug
5,g13538879M,Nissan Qashqai,standart,petrol,4.28,2015,19517,2020,0,break_bug
6,g10190493K,Kia Sportage,standart,petrol,3.34,2014,2018,2017,0,engine_fuel

In [ ]:
# YOUR CODE HERE