# –ó–∞–¥–∞—á–∞ –Ω–∞ 2-–æ–º —à–∞–≥–µ —É—Ä–æ–∫–∞

**üß† –ü—Ä–∞–∫—Ç–∏–∫–∞ –ø–æ apply() –Ω–∞ 3 —Å—Ç–æ–ª–±—Ü–∞—Ö**

–î–∞—Ç–∞—Å–µ—Ç –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è:

In [ ]:
import pandas as pd
path = 'https://stepik.org/media/attachments/lesson/779916/stepik_rides.csv'
df = pd.read_csv(path)

–ù–∞ –≤—Ö–æ–¥ –ø–æ–¥–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è df  —Å –ø–æ–ª–Ω—ã–º DataFrame —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏.
–ù–∞ –≤—ã—Ö–æ–¥–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è: –ò–∑–º–µ–Ω–µ–Ω–Ω—ã–π DataFrame (–ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è df).

# –ó–∞–¥–∞—á–∞ –Ω–∞ 3-–µ–º —à–∞–≥–µ —É—Ä–æ–∫–∞

**üß† –ó–∞–¥–∞—á–∞: üñê gold —Ñ–∏—á–µ–π**

In [ ]:
# –ú–∏–Ω–∏–¥–∞—Ç–∞—Å–µ—Ç –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è

headers = ['car_id', 'rating', 'ride_duration', 'ride_cost', 'speed_max', 'stop_times']
data = [['A-1049127W', 4.95 , 21,	268, 113.548538, 0],
        ['z91796444U', 7.42, 164, 2290, 54.586302, 0],
        ['z91796444U', 3.40, 23, 178, 71.000000, 1],
        ['z91796444U', 3.48, 27, 277, 87.88865, 1],
        ['A-1049127W', 4 , 24,	268, 87.43332, 0]]
df = pd.DataFrame(data, columns = headers)

In [ ]:
# result =

–ù–∞ –≤—Ö–æ–¥ –ø–æ–¥–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è df  —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏.
–ù–∞ –≤—ã—Ö–æ–¥–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è result.

In [ ]:
import pandas as pd

# –î–∞—Ç–∞—Å–µ—Ç —É–∂–µ –∑–∞–ø–∏—Å–∞–Ω –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é df
# YOUR CODE HERE

result =

# –ó–∞–¥–∞—á–∞ –Ω–∞ 4-–æ–º —à–∞–≥–µ —É—Ä–æ–∫–∞

**üß† –ó–∞–¥–∞—á–∞ –Ω–∞ merge()**

In [ ]:
import pandas as pd

–î–∞—Ç–∞—Å–µ—Ç rides

In [ ]:
url = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/rides_info.csv'
rides = pd.read_csv(url)
rides.sample(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
218580,A22763593b,P10296494R,Q1g,2020-01-20,6.16,17,164,49,63.000000,0,897.575649,0,NaN,3.717
481040,u47677752t,i-1075099j,M1p,2020-02-25,2.65,41,487,50,69.959333,0,2049.311289,0,3.034684,12.223
599594,N10271938m,q12145655O,J1Q,2020-03-27,7.45,546,4910,32,59.000000,2,155.688487,0,19.931828,11.980
276115,R19731344C,T-2093464U,v1f,2020-03-20,5.59,38,525,35,148.044188,0,1147.480709,0,4.029810,55.877
365745,t55157481S,a-1510716r,M1Q,2020-03-31,6.90,41,650,47,62.098476,0,1896.284856,0,29.804286,-13.984

–î–∞—Ç–∞—Å–µ—Ç cars

In [ ]:
path = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/car_info.csv'
cars = pd.read_csv(path)
cars.sample(5)

,car_type,fuel_type,car_rating,year_to_start,riders,car_id,model,target_class,year_to_work,target_reg
1555,economy,petrol,4.60,2017,114657,d-1282472g,Skoda Rapid,another_bug,2019,88.349022
1006,business,petrol,2.98,2013,44760,v19098891O,Fiat 500,break_bug,2017,28.816512
1065,economy,petrol,4.50,2013,47741,Z-2128621C,VW Polo,wheel_shake,2016,31.738714
4069,economy,petrol,3.76,2017,107224,P13046593R,Smart Coupe,engine_overheat,2014,46.678746
520,economy,petrol,3.68,2014,67385,q14945093N,VW Polo VI,wheel_shake,2018,33.199805

–ù–∞ –≤—ã—Ö–æ–¥–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è result

# –ó–∞–¥–∞—á–∞ –Ω–∞ 5-–æ–º —à–∞–≥–µ —É—Ä–æ–∫–∞

**üß† –ó–∞–¥–∞—á–∞ –Ω–∞ transform() –∏ 3 silver —Ñ–∏—á–∏**

–ù–∞ –≤—Ö–æ–¥ –ø–æ–¥–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è rides —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –ø—Ä–æ –ø–æ–µ–∑–¥–∫–∏.

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/rides_info.csv'
rides = pd.read_csv(url)
rides.sample(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
75162,l14632100c,F-6369826L,f1X,2020-03-30,8.32,19,185,44,51.972319,0,7.792854e+02,0,-4.900898,8.357
627340,t15708459k,s-5287107D,w1Z,2020-02-07,2.87,28782,460507,54,88.692686,3,1.574180e+06,0,6.101435,-0.000
316552,n21182968c,W-9551883X,j1T,2020-01-25,2.48,49,434,49,62.000000,1,1.989543e+03,0,3.118937,3.846
488805,a95603291F,i11460685H,O1p,2020-01-22,5.06,56,497,45,62.000000,0,2.345597e+03,0,2.218930,3.018
601272,Y21636408p,q15163647k,v1G,2020-02-24,5.03,11377,125140,40,59.000000,1,4.612876e+05,0,-13.840377,-44.436

In [ ]:
# result =

–ù–∞ –≤—ã—Ö–æ–¥–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è result.

# –ó–∞–¥–∞—á–∞ –Ω–∞ 6-–æ–º —à–∞–≥–µ —É—Ä–æ–∫–∞

**üß† –ó–∞–¥–∞—á–∞ –Ω–∞ transform() –∏ 4 —Å–∞–º–æ–ø–∏—Å–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏**

–ù–∞ –≤—Ö–æ–¥ –ø–æ–¥–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è rides  —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –ø—Ä–æ –ø–æ–µ–∑–¥–∫–∏.

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/rides_info.csv'
rides = pd.read_csv(url)
rides.sample(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
576267,X35015183t,o49311084b,Y1F,2020-03-22,5.38,7,92,41,59.224606,1,221.929362,0,2.267276,-48.201
222490,I13845732A,P21644134e,Z1p,2020-03-03,0.63,146,1308,35,120.209242,0,1803.016672,0,-9.719209,-5.269
587255,d50713881x,p17325319H,K1a,2020-01-04,7.28,12,356,57,85.640832,0,756.301931,0,-1.848184,-1.291
368611,m51828099C,a-2243028s,m1K,2020-02-11,5.74,27,373,35,76.000000,2,913.576762,0,3.022207,38.774
300017,I21170914O,V-1791691i,Y1l,2020-01-22,4.39,40,313,31,36.000000,1,597.131715,0,-6.438750,-6.382

–ù–∞ –≤—ã—Ö–æ–¥–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è: –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è result

# –ó–∞–¥–∞—á–∞ –Ω–∞ 7-–æ–º —à–∞–≥–µ —É—Ä–æ–∫–∞

**üß† –ó–∞–¥–∞—á–∞ –Ω–∞ pivot_table() –∏ merge()**

In [ ]:
#  –ú–∏–Ω–∏–¥–∞—Ç–∞—Å–µ—Ç –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
data = [['C23701743S',
  'P-3929445q',
  'V1T',
  '2020-01-26',
  3.68,
  4593,
  36740,
  53,
  72.0,
  1,
  244989.33963139408,
  0,
  4.159301467609032,
  -23.975,
  'Smart Coupe',
  'economy',
  'petrol',
  7.08,
  2016,
  102663,
  2017,
  28.26,
  'gear_stick'],
 ['y30589018z',
  't18819186j',
  'Y1t',
  '2020-02-02',
  5.12,
  11,
  84,
  45,
  68.52101735402167,
  0,
  346.92033212251334,
  0,
  10.847470079962488,
  43.009,
  'Smart ForFour',
  'economy',
  'petrol',
  2.04,
  2017,
  128730,
  2018,
  65.26,
  'engine_ignition'],
 ['m20107849w',
  'x39431048L',
  'R1x',
  '2020-01-03',
  7.26,
  11,
  104,
  53,
  83.92169390745826,
  0,
  582.3816523784093,
  0,
  0.7309021029325343,
  -23.996,
  'VW Tiguan',
  'economy',
  'petrol',
  4.64,
  2015,
  75963,
  2019,
  30.3,
  'break_bug'],
 ['N13562039t',
  'j55128828K',
  'y1m',
  '2020-03-09',
  3.35,
  94,
  1499,
  59,
  88.08865462799817,
  5,
  3813.3518258362656,
  0,
  0.4671931071949684,
  0.895,
  'Renault Sandero',
  'standart',
  'petrol',
  2.92,
  2013,
  43304,
  2015,
  88.99,
  'another_bug'],
 ['q19730668B',
  'B-1276447I',
  'T1T',
  '2020-03-17',
  6.5,
  51,
  555,
  32,
  69.0,
  1,
  1508.53285486729,
  0,
  30.88341313333444,
  -2.446,
  'Skoda Rapid',
  'economy',
  'petrol',
  5.72,
  2017,
  123499,
  2014,
  35.39,
  'wheel_shake']]

headers = ['user_id', 'car_id', 'ride_id', 'ride_date', 'rating', 'ride_duration',
       'ride_cost', 'speed_avg', 'speed_max', 'stop_times', 'distance',
       'refueling', 'user_ride_quality', 'deviation_normal', 'model',
       'car_type', 'fuel_type', 'car_rating', 'year_to_start', 'riders',
       'year_to_work', 'target_reg', 'target_class']

df = pd.DataFrame(data, columns = headers)

–†–µ–∑—É–ª—å—Ç–∞—Ç —Ä–µ—à–µ–Ω–∏—è –∑–∞–ø–∏—à–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é result

–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π: –ù–µ –∑–∞–±—ã–≤–∞–π—Ç–µ –∏–∑–±–∞–≤–ª—è—Ç—å—Å—è –æ—Ç –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å–∞ –∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å pivot_table. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å groupby –Ω–µ–ª—å–∑—è! –ü—Ä–æ–ø—É—Å–∫–∏ –∑–∞–ø–æ–ª–Ω—è—Ç—å 0.

In [ ]:
# result =